DB_HOST=localhost
DB_NAME=meu_banco_de_dados
DB_USER=victor
DB_PASSWORD=

MONGO_URI=mongodb://localhost:27017
MONGO_DB=desafio

SUPERSET_URL=http://localhost:8088
SUPERSET_USER=admin
SUPERSET_PASS=admin
# host que o Superset (em contêiner) usa para achar o Postgres do host
SUPERSET_DB_HOST=172.17.0.1
